<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
   		point="org.eclipse.ui.views">
   	<view
         class="de.rocovomo.e4.rcp.humandiagram.DigraphGraphicalView"
         id="de.rocovomo.e4.rcp.humandiagram.view"
         name="Human View"
         restorable="true">
   </view>
   </extension>
</plugin> 
