<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.rocovomo.e4.rcp.Application">
         </run>
      </application>
   </extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="de.rocovomo.e4.rcp.Perspective"
         id="de.rocovomo.e4.rcp.perspective"
         name="name">
   </perspective>
</extension>
<extension id="product" point="org.eclipse.core.runtime.products">
  <product application="de.rocovomo.e4.rcp.application" name="de.rocovomo.e4.rcp">
    <property name="appName" value="de.rocovomo.e4.rcp"> </property>
    <property name="applicationXMI" value="de.rocovomo.e4.rcp/Application.e4xmi"> </property>
  </product>
</extension>
</plugin>